* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid green;
}

input {
  display: inline-block;
  margin: 10px 20px;
  height: 25px;
  width: 200px;
}
button {
  height: 25px;
  width: 100px;
}

.board {
  width: calc(100%-40px);
  height: 250px;
  position: relative;
  margin: 40px 20px;
  outline: 2px solid rgba(31, 8, 8, 0.2);
}
img {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 0px;
}
.item-1 {
  left: 0px;
}
.item-2 {
  left: 40px;
}
.item-3 {
  left: 80px;
}
