* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: rgb(211, 152, 164);
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 40px auto;
}
.mycontainer{
  background-color: chartreuse;
  width: 100%;
}

input {
  display: inline-block;
  margin: 10px 20px 10px 0;
  height: 35px;
  width: 240px;
}
button {
  height: 35px;
  width: 100px;
}

.board {
  width: calc(100%-40px);
  height: 250px;
  position: relative;
  margin: 40px 20px;
  outline: 2px solid rgba(31, 8, 8, 0.2);
  background-color: rgb(158, 198, 199);
}
img {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 0px;
}
.label {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  bottom: 10%;
  right: 10%;
}
