* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgba(5, 69, 71, 0.562);
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 40px auto;
}
.mycontainer {
  width: 100%;
}

input {
  display: inline-block;
  margin: 10px 20px 20px 70px;
  height: 35px;
  width: 240px;
  font-size: 18px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
input::placeholder {
  color: rgba(10, 4, 4, 0.747);
}
button {
  height: 35px;
  width: 100px;
  font-weight: bold;
  font-size: 18px;
}

.board {
  width: calc(100%-40px);
  height: 250px;
  position: relative;
  margin: 40px 20px;
  /* background-color: rgba(142, 185, 100, 0.678); */
}
img {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 0px;
}
.label {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  bottom: 0;
  right: 10%;
}
